@font-face {
    font-family: Consolata;
    src: url(./inconsolata_[allfont.es].ttf);
}
@font-face {
    font-family: 'Mono bold';
    src: url(./SpaceMono-Bold.ttf);
}
@font-face {
    font-family: 'Mono Regular';
    src: url(./SpaceMono-Regular.ttf);
}
.todo{
    height: 949px;
    width: 375px;
}
.head{
    font-family: Consolata, cursive;
    margin-top: 20px;
    margin-left: 24px;
}
.image{
    height: 238px;
    width: 286px;
    margin-top: 64px;
    margin-left: 44px;
}
.titleMessage{
    font-family: 'Mono Bold',cursive;
    font-size: 48px;
    margin-top: 60px;
    margin-left: 16px;
    margin-right: 6px;
}
.message{
    font-family: 'Mono Regular',cursive;
    font-size: 18px;
    margin-left: 23px;
    margin-top: 30px;
    position: center;
}
.button{
    font-family: 'Mono Bold',cursive;
    height: 68px;
    width: 216px;
    font-size: 14px;
    margin: 66px 0px 0px 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*position: absolute;
    top: 663px;
    right: 484px;
    */
    background-color: #333333;
    color: white;
}

@media (min-width: 1300px){
    .todo{
        height: 1080px;
        width: 1440px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .head{
        position: absolute;
        font-family: Consolata, cursive;
        top: 40px;
        left: 77px;
    }
    .image{
        height: 500px;
        width: 500px;
        position: absolute;
        top: 265px;
        left: 77px;
}
.titleMessage{
    font-family: 'Mono Bold',cursive;
    font-size: 64px;
    height: 190px;
    width: 590px;
    position: absolute;
    word-wrap: break-word;
    top: 265px;
    right: 119px;
}
.message{
    font-family: 'Mono Regular',cursive;
    height: 108px;
    width: 381px;
    position: absolute;
    top: 491px;
    right: 323px;
    margin-left: 20px;
    margin-right: 15px;
    
}
.button{
    font-family: 'Mono Bold',cursive;
    height: 68px;
    width: 216px;
    position: absolute;
    top: 663px;
    right: 484px;
    background-color: #333333;
    color: white;
}
}
