@font-face {
    font-family: Consolata;
    src: url(./inconsolata_[allfont.es].ttf);
}
@font-face {
    font-family: 'Mono bold';
    src: url(./SpaceMono-Bold.ttf);
}
@font-face {
    font-family: 'Mono Regular';
    src: url(./SpaceMono-Regular.ttf);
}
.todo{
    height: 949px;
    width: 375px;
}
.head{
    /*position: absolute;*/
    font-family: Consolata, cursive;
    margin-top: 20px;
    margin-left: 24px;
}
.image{
    height: 238px;
    width: 286px;
    margin-top: 64px;
    margin-left: 44px;
    /*position: absolute;
    top: 265px;
    left: 77px;
    */
}
.titleMessage{
    font-family: 'Mono Bold',cursive;
    font-size: 48px;
    margin-top: 60px;
    margin-left: 16px;
    margin-right: 6px;
    /*
    height: 190px;
    height: 568px;
    position: absolute;
    word-wrap: break-word;
    top: 265px;
    right: 119px;
    */
}
.message{
    font-family: 'Mono Regular',cursive;
    font-size: 18px;
    margin-left: 23px;
    margin-top: 30px;
    position: center;
    /*position: absolute;
    height: 108px;
    width: 381px;
    top: 491px;
    right: 323px;
    */
}
.button{
    font-family: 'Mono Bold',cursive;
    height: 68px;
    width: 216px;
    font-size: 14px;
    margin: 66px 0px 0px 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*position: absolute;
    top: 663px;
    right: 484px;
    */
    background-color: #333333;
    color: white;
}

@media screen and (min-width: 800px){
 .todo{
    background-color: red;
    height: 1080px;
    width: 1440px;
}
.head{
    position: absolute;
    font-family: Consolata, cursive;
    top: 40px;
    left: 77px;
}
.image{
    height: 500px;
    width: 500px;
    position: absolute;
    top: 265px;
    left: 77px;
}
.titleMessage{
    font-family: 'Mono Bold',cursive;
    font-size: 64px;
    height: 190px;
    height: 568px;
    position: absolute;
    word-wrap: break-word;
    top: 265px;
    right: 119px;
}
.message{
    font-family: 'Mono Regular',cursive;
    height: 108px;
    width: 381px;
    position: absolute;
    top: 491px;
    right: 323px;
}
.button{
    font-family: 'Mono Bold',cursive;
    height: 68px;
    width: 216px;
    position: absolute;
    top: 663px;
    right: 484px;
    background-color: #333333;
    color: white;
} 
}

/*Se creo la estructura del proyecto, se realizaron los primeros commits con pull requieres para hacer la revisión codigo
Se creo el archivo editcofing para manejar la misma estructura, se empezo a trabajas Sass y se generaron los primeros styles
se trabaja también con mobile first y acargado eso en el repositorio
Seguir explorando Sass y terminas las pg
